In [19]:
import pandas as pd

In [20]:
# Carga de datos
archivo='data/prescriptions_hptu.csv'
data=pd.read_csv(archivo, encoding='ansi')
data.head(3)

,identificadorunico,examenactividad,dosis,unidad,nombre_unidad,duracion,frecuencia,genero,edad
0,728329,Dipirona sódica 1 g/2 mL Solución inyectable A...,1.0,g,gramos,1.0,De rescate,F,50
1,1391631,Dipirona sódica 1 g/2 mL Solución inyectable A...,2.0,g,gramos,3.0,Cada 8 horas,F,52
2,1391668,Dipirona sódica 1 g/2 mL Solución inyectable A...,1.0,g,gramos,1.0,Dosis única,F,10

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87207 entries, 0 to 87206
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   identificadorunico  87207 non-null  int64
 1   examenactividad     87207 non-null  object
 2   dosis               87207 non-null  float64
 3   unidad              87207 non-null  object
 4   nombre_unidad       87207 non-null  object
 5   duracion            87207 non-null  float64
 6   frecuencia          87207 non-null  object
 7   genero              87207 non-null  object
 8   edad                87207 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

In [22]:
# Validación de cantidades
data['examenactividad'].value_counts()

examenactividad
Dipirona sódica 1 g/2 mL Solución inyectable Ampolla    48437
Acetaminofen 500 mg Tableta                             25451
Morfina 10 mg/1 mL Solucion inyectable Ampolla           9975
Vancomicina 500 mg Polvo para reconstituir Vial          3344
Name: count, dtype: int64

In [24]:
# Elimino los datos para edades menores  a 18 años
data.drop(data[data['edad']<18].index,inplace=True)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73123 entries, 0 to 87204
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   identificadorunico  73123 non-null  int64
 1   examenactividad     73123 non-null  object
 2   dosis               73123 non-null  float64
 3   unidad              73123 non-null  object
 4   nombre_unidad       73123 non-null  object
 5   duracion            73123 non-null  float64
 6   frecuencia          73123 non-null  object
 7   genero              73123 non-null  object
 8   edad                73123 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 5.6+ MB

In [26]:
# Identifico las diferentes unidades en las que se formularon los Medicamentos 
data[['examenactividad','unidad']].groupby(['examenactividad','unidad']).count()

Empty DataFrame
Columns: []
Index: [(Acetaminofen 500 mg Tableta, g), (Acetaminofen 500 mg Tableta, mg), (Acetaminofen 500 mg Tableta, ta), (Dipirona sódica 1 g/2 mL Solución inyectable Ampolla, am), (Dipirona sódica 1 g/2 mL Solución inyectable Ampolla, g), (Dipirona sódica 1 g/2 mL Solución inyectable Ampolla, mg), (Morfina 10 mg/1 mL Solucion inyectable Ampolla, mg), (Vancomicina 500 mg Polvo para reconstituir Vial, g), (Vancomicina 500 mg Polvo para reconstituir Vial, mg)]

In [27]:
# Copio columna dosis y la dejo como dosis original
data['dosisOriginal']=data['dosis']

In [28]:
# Convierto dosis que estan en gramos (g) a miligramos
data.loc[data['unidad']=='g','dosis']=data['dosis']*1000

In [29]:
# Convierto dosis que estan en tabletas (ta) a miligramos
data.loc[data['unidad']=='ta','dosis']=data['dosis']*500

In [30]:
# Convierto dosis que estan en ampollas (am) a miligramos
data.loc[(data['unidad']=='am') &  (data['examenactividad']=='Dipirona sódica 1 g/2 mL Solución inyectable Ampolla'),
         'dosis']=data['dosis']*1000

In [32]:
data['frecuencia'].value_counts()

frecuencia
Cada 8 horas                                     26222
Dosis única                                      25835
De rescate                                       10939
Cada 6 horas                                      7575
Cada 12 horas                                     1214
Sin Frecuencia                                     558
Cada 4 horas                                       500
Cada 24 horas                                      144
Cada 48 horas                                       52
Cada noche (21:00)                                  11
9:00 - 15:00 y 21:00                                 7
8:00 - 16:00 y 24:00                                 6
3 veces al día (8:00 - 15:00 - 22:00)                6
6:00 - 12:00 - 18:00 y 24:00                         6
Cada 72 horas                                        5
7:00 - 12:00 - 17:00 y 22:00                         4
Con cada comida (8:00 - 12:30 - 18:00)               4
5 veces al día (6:00-10:00-14:00-18:00-22:00)        3
6:00 - 12:00 y 18:00                                 3
Dosis única (17:00)                                  3
Cada 4 días                                          3
Interdiaria                                          3
8:00 y 14:00                                         2
Cada 5 horas                                         2
8:00 - 12:00 y 16:00                                 2
6:00, 14:00 y 22:00                                  2
Quincenal                                            2
30 minutos antes del desayuno                        1
2 horas después de cada comida                       1
Cada tarde (17:00)                                   1
Cada 15 minutos                                      1
Cada 3 horas                                         1
Cada 5 minutos                                       1
Semanal                                              1
3 veces a la semana                                  1
En ayunas (5:00)                                     1
7:30 y 17:30                                         1
Name: count, dtype: int64

In [35]:
# Copio colunna frecuencia en frecuencia_Original
data['frecuencia_Original']=data['frecuencia']

In [36]:
# Reemplazar los valores de la columna 'Frecuencia' con números
data['frecuencia'] = data['frecuencia'].replace({
#'3 veces a la semana':1,
 #'3 veces al día (8:00 - 15:00 - 22:00)':2,
#'5 veces al día (6:00-10:00-14:00-18:00-22:00)':3,
# '6:00 - 12:00 y 18:00':4,
#'7:00 - 12:00 - 17:00 y 22:00':5,
# '9:00 - 15:00 y 21:00':6,
 'Cada 12 horas':2,
'Cada 24 horas':1, 
#'Cada 4 días':9,
 'Cada 4 horas':6,
 #'Cada 48 horas':11,
'Cada 6 horas':4, 
#'Cada 72 horas':13,
 'Cada 8 horas':3, 
#'Cada noche (21:00)':15,
#'Con cada comida (8:00 - 12:30 - 18:00)':16,
 'De rescate ':1,
 'Dosis única':1,
'Dosis única (17:00)':1,
 #'En ayunas (5:00)':20, 
#'Interdiaria':21, 
#'Semanal':22,
'Sin Frecuencia':1,
 #'g':24
})

In [41]:
# Borro los datos de las frecuencias que no se van a tener en cuenta
frecuencias=[1,2,3,4,6]
data.drop(data[~data['frecuencia'].isin(frecuencias)].index,inplace=True)

In [43]:
data['frecuencia'].value_counts()

frecuencia
1    37479
3    26222
4     7575
2     1214
6      500
Name: count, dtype: int64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72990 entries, 0 to 87204
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   identificadorunico   72990 non-null  int64
 1   examenactividad      72990 non-null  object
 2   dosis                72990 non-null  float64
 3   unidad               72990 non-null  object
 4   nombre_unidad        72990 non-null  object
 5   duracion             72990 non-null  float64
 6   frecuencia           72990 non-null  object
 7   genero               72990 non-null  object
 8   edad                 72990 non-null  int64
 9   dosisOriginal        72990 non-null  float64
 10  frecuencia_Original  72990 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 6.7+ MB

In [46]:
data2=data[['examenactividad','frecuencia','dosis']].copy()

In [47]:
data2.rename(columns={'examenactividad':'medication',
                        'Frecuencia':'frecuency',
                        'dosis':'dose'},
                        inplace=True)

In [48]:
data.to_csv('data/prescriptions_hptu_prep.csv',index=False)